<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Green Byte Bistro</title>
</head>

<body>
  <%- include('./partials/nav') %>
  <h1>Home Page</h1>
  <P><%= RESTAURANT.name %></P>
  <P><%= RESTAURANT.address %></P>
  <P><%= RESTAURANT.phone %></P>
  <% if (RESTAURANT.isOpen) { %>
  <p>Yes we are open!</p>
  <%  }  else { %>
  <p>Sorry, we are closed.</p>
  <% } %>

</body>

</html>